@charset "UTF-8";

.row>div {
	cursor: pointer;
	
}

.row>div h5 {
	color: #A9A9A9;
	margin-top: 20px;
}

.row>div h5:hover {
	color: #e4b95b;
 } 
 
 .container .breadcrumb-inner h2 {
 	margin-bottom: 40px ;
 }
 
 .shop-cart-table {
	text-align: center;
}

.shop-cart-table th {
	text-align: center;
}

.product-cart-detail {
	margin-top: 10px;
	text-align: center;
}

input[name="txt"] {
	width: 20%;
}

#calendarstart, #calendarend {
	margin-bottom: 0px;
}

#calendarsearch {
	margin-bottom: 29px;
}

strong[name="datetext"] {
	margin-left: 1%;
	margin-right: 1%;
}

#calendarsearch {
	text-align: right;
}